@import "/02-base/variables.styl"
@import "/02-base/layout.styl"

@import "/03-components/header.styl"
@import "/03-components/pokemon.styl"
@import "/03-components/pokemon-header.styl"
@import "/03-components/pokemon-tabs.styl"
@import "/03-components/pokemon-comments.styl"

@media all and (min-width: 568px)
	@import "/03-components/pokemon-sm.styl"