@import "/01-base/variables.styl"
@import "/01-base/layout.styl"

@import "/02-components/header.styl"
@import "/02-components/pokedex.styl"
@import "/02-components/pokemon.styl"
@import "/02-components/pokemon-header.styl"
@import "/02-components/pokemon-data.styl"
@import "/02-components/pokemon-stats.styl"
@import "/02-components/pokemon-evolution.styl"
@import "/02-components/pokemon-comments.styl"
@import "/02-components/footer.styl"

@media all and (min-width: 568px)
	@import "/02-components/pokedex-sm.styl"

@media all and (min-width: 1024px)
	@import "/02-components/pokedex-lg.styl"