html, button, input, select, textarea, .pure-g [class *= "pure-u"]
	font-family 'Raleway', sans-serif

body
	background #ecf0f1
	color #242424
	font-size 15px
	line-height 1.5em

a
	color inherit
	text-decoration none

h1
	font-size 1.7em
	margin 0
	text-align center

.container
	margin 0 auto
	max-width 500px
	padding 25px 20px