html, button, input, select, textarea, .pure-g [class *= "pure-u"]
	font-family 'Raleway', sans-serif

body
	background #ecf0f1
	color #242424
	font-size 15px
	line-height 1.5em

a
	color inherit
	text-decoration none

h1
	font-size 1.7em
	margin 0
	text-align center

.container
	margin 0 auto
	max-width 500px
	padding 25px 20px

.button-error, .button-secondary, .button-success, .button-warning
	color white
	border-radius 4px
	text-shadow 0 1px 1px rgba(0, 0, 0, 0.2)

.button-error
	background rgb(202, 60, 60)

.button-secondary
	background rgb(66, 184, 221)

.button-success
	background rgb(28, 184, 65)

.button-warning
	background rgb(223, 117, 20)