* {
  box-sizing: border-box;
}
html,
button,
input,
select,
textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}
body {
  background: #ecf0f1;
  color: #242424;
  font-size: 15px;
  line-height: 1.5em;
}
a {
  color: inherit;
  text-decoration: none;
}
a .label {
  cursor: pointer;
}
.button-error,
.button-secondary,
.button-success,
.button-warning {
  color: #fff;
}
.button-error {
  background: #e74c3c;
}
.button-secondary {
  background: #68afde;
}
.button-success {
  background: #2ecc71;
}
.button-warning {
  background: #f39c12;
}
.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 10px;
}
.image-container {
  margin: 10px auto;
  max-width: 250px;
}
.label {
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  margin: 0 5px;
  padding: 5px 10px 4px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
  -webkit-transition: all 0.1s ease;
          transition: all 0.1s ease;
  vertical-align: top;
}
.labellast-child {
  margin: 0;
}
.label.ability {
  background: #f4d34b;
  border: 1px solid #cea70c;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}
.label.ability:hover {
  background: #e1b80e;
}
.label.bug {
  background-color: #a8b820;
  border: solid 1px #6d7815;
}
.label.bug:hover {
  background: #7e8a18;
}
.label.dark {
  background-color: #705848;
  border: solid 1px #49392f;
}
.label.dark:hover {
  background: #544236;
}
.label.dragon {
  background-color: #7038f8;
  border: solid 1px #4924a1;
}
.label.dragon:hover {
  background: #4608dc;
}
.label.electric {
  background-color: #f8d030;
  border: solid 1px #a1871f;
}
.label.electric:hover {
  background: #d7ad07;
}
.label.fairy {
  background-color: #ee99ac;
  border: solid 1px #9b6470;
}
.label.fairy:hover {
  background: #e04568;
}
.label.fighting {
  background-color: #c03028;
  border: solid 1px #7d1f1a;
}
.label.fighting:hover {
  background: #90241e;
}
.label.fire {
  background-color: #f08030;
  border: solid 1px #9c531f;
}
.label.fire:hover {
  background: #c95c0f;
}
.label.flying {
  background-color: #a890f0;
  border: solid 1px #6d5e9c;
}
.label.flying:hover {
  background: #663be5;
}
.label.grass {
  background-color: #78c850;
  border: solid 1px #4e8234;
}
.label.grass:hover {
  background: #57a032;
}
.label.ghost {
  background-color: #705898;
  border: solid 1px #493963;
}
.label.ghost:hover {
  background: #544272;
}
.label.ground {
  background-color: #e0c068;
  border: solid 1px #927d44;
}
.label.ground:hover {
  background: #cca12a;
}
.label.ice {
  background-color: #98d8d8;
  border: solid 1px #638d8d;
}
.label.ice:hover {
  background: #55bfbf;
}
.label.normal {
  background-color: #a8a878;
  border: solid 1px #6d6d4e;
}
.label.normal:hover {
  background: #838355;
}
.label.poison {
  background-color: #c183c1;
  border: solid 1px #a040a0;
}
.label.poison:hover {
  background: #a251a2;
}
.label.psychic {
  background-color: #f85888;
  border: solid 1px #a13959;
}
.label.psychic:hover {
  background: #f20a50;
}
.label.rock {
  background-color: #b8a038;
  border: solid 1px #786824;
}
.label.rock:hover {
  background: #8a782a;
}
.label.steel {
  background-color: #b8b8d0;
  border: solid 1px #787887;
}
.label.steel:hover {
  background: #7d7da9;
}
.label.water {
  background-color: #6890f0;
  border: solid 1px #445e9c;
}
.label.water:hover {
  background: #1a56e8;
}
.pure-img {
  margin: 0 auto;
}
.to-right {
  text-align: right;
}
header {
  background: #fff;
  border-bottom: 1px solid #ccc;
}
header h1 {
  font-size: 1.5em;
  margin: 0 0 10px;
}
header h1 * {
  display: inline-block;
  vertical-align: middle;
}
header h1 img {
  height: 25px;
  width: 25px;
}
header p {
  color: #ccc;
  margin: 0;
}
header .header-icons {
  font-size: 2em;
}
header .header-icons a {
  display: inline-block;
  padding: 5px;
  vertical-align: top;
}
header .header-icons a:last-child {
  margin-left: 5px;
}
header .header-icons .ion-social-twitter {
  color: #00aced;
}
.pokedex .count {
  margin: 10px 0;
  text-align: center;
}
.pokemon {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.05);
  margin: 10px 0;
}
.pokemon:hover .pokemon-header img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.pokemon .pokemon-tabs {
  border-top: 1px solid #ccc;
}
.pokemon .pokemon-tabs ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pokemon .pokemon-tabs ul li {
  margin: 10px 0;
}
.pokemon .pokemon-tabs .container {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0;
  padding-top: 0;
}
.pokemon .pokemon-tabs .show-tab {
  border-bottom: 1px solid #ccc;
  display: block;
  padding: 10px;
}
.pokemon .pokemon-tabs .show-tab .icon {
  float: right;
}
.pokemon .pokemon-tabs .tab-info {
  color: #ccc;
}
.pokemon-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
}
.pokemon-header img {
  -webkit-transition: all 0.1s ease;
          transition: all 0.1s ease;
}
.pokemon-header .title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.pokemon-header .title * {
  margin: 0;
}
.pokemon-header .title p {
  color: #ccc;
}
.pokemon-header .title h2 {
  font-size: 1.25em;
}
.pokemon-header .title .number {
  background: #ef8b80;
  border: 1px solid #e74c3c;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 1.5em;
  padding: 5px 10px;
  vertical-align: top;
}
.pokemon-header .types {
  padding-top: 10px;
  text-align: center;
}
.pokemon .pokemon-tabs .pokemon-data li:last-child {
  margin-bottom: 0;
}
.pokemon .pokemon-tabs .pokemon-stats .label {
  background: #ef8b80;
  border: 1px solid #e74c3c;
  margin: 0;
  padding: 2px 10px 4px;
}
.pokemon .pokemon-tabs .pokemon-evolution {
  text-align: center;
}
.pokemon .pokemon-tabs .pokemon-evolution h2 {
  margin: 0 0 10px;
}
.pokemon .pokemon-tabs .pokemon-evolution .icon {
  color: #ccc;
  display: inline-block;
  font-size: 20px;
  margin-top: 10px;
  vertical-align: top;
}
.pokemon .pokemon-tabs .pokemon-evolution .image-container {
  max-width: 150px;
}
.pokemon .pokemon-tabs .pokemon-comments {
  padding-bottom: 10px;
  padding-top: 10px;
}
.pokemon .pokemon-tabs .pokemon-comments fieldset {
  padding: 0 0 10px;
}
.pokemon .pokemon-tabs .pokemon-comments form {
  margin-bottom: 50px;
}
.pokemon .pokemon-tabs .pokemon-comments input[type=checkbox] {
  margin-right: 10px;
}
.pokemon .pokemon-tabs .pokemon-comments p.no-comments {
  border-top: 1px solid #ccc;
  margin: 0;
  padding-top: 10px;
}
.pokemon .pokemon-tabs .pokemon-comments .comment {
  border-left: 3px solid #ccc;
  margin-bottom: 20px;
  padding: 5px 0 5px 10px;
}
.pokemon .pokemon-tabs .pokemon-comments .comment.no-margin-bottom {
  margin-bottom: 0;
}
.pokemon .pokemon-tabs .pokemon-comments .comment * {
  margin: 0;
}
.pokemon .pokemon-tabs .pokemon-comments .comment .author {
  color: #666;
  margin-top: 20px;
}
.pokemon .pokemon-tabs .pokemon-comments .comment .author a {
  color: #2980b9;
}
footer {
  background: #fff;
  border-top: 1px solid #ccc;
  text-align: center;
}
footer p {
  margin: 0;
}
footer .gray {
  color: #ccc;
  margin-top: 10px;
}
@media all and (min-width: 568px) {
  .pokedex .pure-u-sm-1-2:nth-child(even) .pokemon {
    margin-left: 5px;
  }
  .pokedex .pure-u-sm-1-2:nth-child(odd) .pokemon {
    margin-right: 5px;
  }
}
@media all and (min-width: 1024px) {
  .pokedex .pure-u-sm-1-2:nth-child(n) .pokemon {
    margin-left: 5px;
    margin-right: 5px;
  }
}
