<div class="pokemon-comments">
	<a href="" class="pure-button pure-button-primary" ng-hide="cmtsCtrl.showPanel" ng-click="cmtsCtrl.toggle()">
		<span>Show comments</span>
		<span class="count">{{cmtsCtrl.comments.length}}</span>
	</a>
	<div class="comments-panel" ng-show="cmtsCtrl.showPanel">
		<div class="pure-g">
			<div class="pure-u-2-3">
				<h3>Comments</h3>
			</div>
			<div class="pure-u-1-3 right-cell">
				<a href="" class="pure-button button-error" ng-click="cmtsCtrl.toggle()">Hide</a>
			</div>
		</div>
		<form name="commentsForm" class="pure-form" ng-submit="commentsForm.$valid && cmtsCtrl.addComment()" novalidate>
			<fieldset class="pure-group">
				<textarea name="comment" rows="5" class="pure-input-1" placeholder="Comment" ng-model="cmtsCtrl.comment.body" required></textarea>
				<input type="email" name="email" class="pure-input-1" placeholder="Email" ng-model="cmtsCtrl.comment.email" ng-disabled="cmtsCtrl.comment.anonymous" ng-required="!cmtsCtrl.comment.anonymous">
			</fieldset>
			<div class="pure-g">
				<div class="pure-u-1-2">
					<label for="option-one" class="pure-checkbox">
						<input id="option-one" type="checkbox" ng-model="cmtsCtrl.comment.anonymous" ng-change="cmtsCtrl.anonymousChanged()">
						Anonymous
					</label>
				</div>
				<div class="pure-u-1-2">
					<button type="submit" class="pure-button pure-input-1 button-success">Send comment</button>
				</div>
			</div>
			<p ng-if="!commentsForm.$valid" class="invalid-form">Invalid form</p>
		</form>
		<div class="comment" ng-repeat="comment in cmtsCtrl.comments">
			<p>
				<strong>{{comment.body}}</strong>
			</p>
			<p class="author">
				By 
				<a href="" ng-if="!comment.anonymous">{{comment.email}}</a>
				<span ng-if="comment.anonymous">Anonymous</span>
				 on 
				<span>{{comment.date | date: "dd-mm-yyyy ', ' hh:mm a"}}</span>
			</p>
		</div>
	</div>
</div>