<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pokedex</title>
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Raleway:400,700'>
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
	<link rel="stylesheet" href="/css/main.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
	<script src="/js/app.js"></script>
</head>
<body ng-app="pokedex">
	<div id="header">
		<div class="container">
			<h1>Pokedex - by @durancristhian</h1>
		</div>
	</div>
	<div class="content">
		<div class="container">
			<div class="pokemon" ng-controller="pokemonController as pkmCtrl">
				<div class="pokemon-header">
					<h2>{{pkmCtrl.pokemon.name}}</h2>
					<p>{{pkmCtrl.pokemon.species}}</p>
					<strong class="number">#{{pkmCtrl.pokemon.id}}</strong>
				</div>
				<img src="{{pkmCtrl.pokemon.name | imageFilter}}" alt="{{pkmCtrl.pokemon.name}} picture">
				<div ng-controller="tabsController as tabs">
					<div class="pokemon-tabs">
						<div class="pure-g">
							<div class="pure-u-1-3">
								<a href="" ng-click="tabs.selectTab(1)" ng-class="{active : tabs.tab === 1}">
									<span class="ion-calculator"></span>
									<span>Pokedex</span>
									<span class="ion-arrow-down-b"></span>
								</a>
							</div>
							<div class="pure-u-1-3">
								<a href="" ng-click="tabs.selectTab(2)" ng-class="{active : tabs.tab === 2}">
									<span class="ion-android-sort"></span>
									<span>Stats</span>
									<span class="ion-arrow-down-b"></span>
								</a>
							</div>
							<div class="pure-u-1-3">
								<a href="" ng-click="tabs.selectTab(3)" ng-class="{active : tabs.tab === 3}">
									<span class="ion-android-star"></span>
									<span>Evolution</span>
									<span class="ion-arrow-down-b"></span>
								</a>
							</div>
						</div>
					</div>
					<ul ng-show="tabs.tab === 1">
						<li>
							<strong>Types:</strong>
							<span ng-repeat="type in pkmCtrl.pokemon.types" class="label {{type |lowercase}}">
								{{type}}
							</span>
						</li>
						<li>
							<strong>Height:</strong>
							<span>{{pkmCtrl.pokemon.height}}</span>
						</li>
						<li>
							<strong>Weight:</strong>
							<span>{{pkmCtrl.pokemon.weight}}</span>
						</li>
						<li>
							<strong>Abilities:</strong>
							<span ng-repeat="ability in pkmCtrl.pokemon.abilities" class="label ability">
								{{ability}}
							</span>
						</li>
					</ul>
					<ul ng-show="tabs.tab === 2">
						<li>
							<strong>HP:</strong>
							<span class="label value">{{pkmCtrl.pokemon.stats.hp}}</span>
						</li>
						<li>
							<strong>Attack:</strong>
							<span class="label value">{{pkmCtrl.pokemon.stats.attack}}</span>
						</li>
						<li>
							<strong>Defense:</strong>
							<span class="label value">{{pkmCtrl.pokemon.stats.defense}}</span>
						</li>
						<li>
							<strong>Special attack:</strong>
							<span class="label value">{{pkmCtrl.pokemon.stats["sp.atk"]}}</span>
						</li>
						<li>
							<strong>Special defense:</strong>
							<span class="label value">{{pkmCtrl.pokemon.stats["sp.def"]}}</span>
						</li>
						<li>
							<strong>Speed:</strong>
							<span class="label value">{{pkmCtrl.pokemon.stats.speed}}</span>
						</li>
						<li>
							<strong>Total:</strong>
							<span class="label value">{{pkmCtrl.pokemon.stats.total}}</span>
						</li>
					</ul>
					<ul ng-show="tabs.tab === 3">
						<li ng-repeat="pokemon in pkmCtrl.pokemon.evolution" ng-hide="$first" class="pokemon-evolution">
							<h2>{{pokemon}}</h2>
							<img src="{{pokemon | imageFilter}}" alt="{{pokemon}} picture">
						</li>
					</ul>
				</div>
				<div class="pokemon-comments" ng-controller="commentsController as cmtsCtrl">
					<a href="" class="pure-button pure-button-primary" ng-hide="cmtsCtrl.showPanel" ng-click="cmtsCtrl.toggle()">
						<span>Show comments</span>
						<span class="count">{{cmtsCtrl.comments.length}}</span>
					</a>
					<div class="comments-panel" ng-show="cmtsCtrl.showPanel">
						<div class="pure-g">
							<div class="pure-u-2-3">
								<h3>Comments</h3>
							</div>
							<div class="pure-u-1-3 right-cell">
								<a href="" class="pure-button button-error" ng-click="cmtsCtrl.toggle()">Hide</a>
							</div>
						</div>
						<form name="commentsForm" class="pure-form" ng-submit="commentsForm.$valid && cmtsCtrl.addComment()" novalidate>
							<fieldset class="pure-group">
								<textarea name="comment" rows="5" class="pure-input-1" placeholder="Comment" ng-model="cmtsCtrl.comment.body" required></textarea>
								<input type="email" name="email" class="pure-input-1" placeholder="Email" ng-model="cmtsCtrl.comment.email" ng-disabled="cmtsCtrl.comment.anonymous" ng-required="!cmtsCtrl.comment.anonymous">
							</fieldset>
							<div class="pure-g">
								<div class="pure-u-1-2">
									<label for="option-one" class="pure-checkbox">
										<input id="option-one" type="checkbox" ng-model="cmtsCtrl.comment.anonymous" ng-change="cmtsCtrl.anonymousChanged()">
										Anonymous
									</label>
								</div>
								<div class="pure-u-1-2">
									<button type="submit" class="pure-button pure-input-1 button-success">Send comment</button>
								</div>
							</div>
							<p ng-if="!commentsForm.$valid" class="invalid-form">Invalid form</p>
						</form>
						<div class="comment" ng-repeat="comment in cmtsCtrl.comments">
							<p>
								<strong>{{comment.body}}</strong>
							</p>
							<p class="author">
								By 
								<a href="" ng-if="!comment.anonymous">{{comment.email}}</a>
								<span ng-if="comment.anonymous">Anonymous</span>
								 on 
								<span>{{comment.date | date: "dd-mm-yyyy ', ' hh:mm a"}}</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>