.pokemon
	background white
	border 1px solid #ccc
	border-radius 5px
	box-shadow 2px 2px 2px rgba(0, 0, 0, .05)
	margin 10px 0

	.pokemon-tabs
		border-top 1px solid gray

		ul
			list-style none
			margin 0
			padding 0

			li
				margin 10px 0

		.container
			border-bottom 1px solid gray
			padding-bottom 0
			padding-top 0

		.show-tab
			border-bottom 1px solid gray
			display block
			padding 10px

			.icon
				float right

		.tab-info
			color gray