html, button, input, select, textarea, .pure-g [class *= "pure-u"]
	font-family 'Raleway', sans-serif

body
	background #ecf0f1
	color #242424
	font-size 20px

.container
	margin 0 auto
	max-width 920px
	padding 25px 20px