black = #242424
blue = #2980b9
blueLight = lighten(#2980b9, 35%)
gray = #ccc
grayDark = #666
grayLight = #ecf0f1
green = #2ecc71
greenLight = lighten(#2ecc71, 35%)
orange = #f39c12
orangeLight = lighten(#f39c12, 35%)
red = #e74c3c
redLight = lighten(#e74c3c, 35%)
twitterColor = #00aced
violet = #9b59b6
violetLight = lighten(#9b59b6, 35%)
yellow = darken(#f1c40f, 15%)
yellowLight = lighten(#f1c40f, 25%)
white = #fff