#header
	background white
	border-bottom 1px solid gray

	h1
		font-size 1.5em
		margin 0

	p
		color gray
		margin 0

	.header-icons
		font-size 2em

		a
			display inline-block
			padding 5px
			vertical-align top

			&:last-child
				margin-left 5px

		.ion-social-twitter
			color twitterColor