.pokemon .pokemon-tabs .pokemon-evolution
	text-align center

	h2
		margin 0 0 10px

	.icon
		color gray
		display inline-block
		font-size 20px
		margin-top 10px
		vertical-align top

	.image-container
		max-width 150px