.pokemon-comments
	padding 20px 10px

	form
		margin-bottom 50px

	p.no-comments
		border-top 1px solid gray
		margin 0
		padding-top 10px

	.comment
		border-left 3px solid gray
		margin-bottom 25px
		padding 5px 0 5px 10px

		&.no-margin-bottom
			margin-bottom 0

		*
			margin 0

		.author
			color grayDark
			margin-top 20px

			a
				color blue